@inherits LayoutComponentBase

<header>
    <nav class="lg:bg-transparent bg-white z-20">
        <div class="container mx-auto px-4 flex flex-wrap justify-between py-5">
            <div class="logo">
                <a href="https://jenskrumsieck.de" class="flex block">
                    <img src="https://jenskrumsieck.de/logo.svg" alt="Logo" />
                    <span
                        class="text-5xl font-black italic mx-3 tracking-tightest sm:flex hidden">
                        Jens Krumsieck
                    </span>
                </a>
                </div>
        </div>
    </nav>
</header>
<main>
    <article>
        @Body
    </article>
</main>
